<!DOCTYPE html>
<html>
<head>
<title>RTCPeerConnection</title>
<link rel="stylesheet" href="stylesheets/main.css" />
<style>
div#container {
  max-width: 100%;
}
video {
  margin: 0 0.5em 1.5em 0;
}
@media screen and (min-width: 1000px) {
  video {
  width: 49%;
  }
}
</style>
</head>
<body>
<div id="container">
  <video id="localVideo" autoplay></video>
  <video id="remoteVideo" autoplay></video>

  <div>
    <button id="startButton">Start</button>
    <button id="callButton">Call</button>
    <button id="hangupButton">Hang Up</button>
  </div>

  <script src="javascripts/call.js"></script>

</div>
</body>
</html>